<hr>
<span class="subtitle">
    <H3>{{_pageTitle}}</H3>
</span>
<mat-tab-group>
  <mat-tab label="[CONSULTA_1 (TEMPLATE DRIVEN)]">
    <h2>[CONSULTA_1 (TEMPLATE DRIVEN)]</h2>
    <div class="mat-elevation-z8">
      <!-- INIT SEARCHPANEL -->
      <div class="searchPanel">
        <form (ngSubmit)="td_onSubmit()" #td_searchForm="ngForm">
          <!-- INICIO CAMPOS BUSQUEDA -->
          <!-- [_] P_DATA_SOURCE_ID -->
          <div class="form-group">
            <label for="_P_ID_DATA_SOURCE">Origen de Datos : </label>
            <select class="form-control" 
                    id="_P_ID_DATA_SOURCE"
                    name="_P_ID_DATA_SOURCE"
                    [(ngModel)]="td_model.P_ID_DATA_SOURCE" 
                    #_P_DATA_SOURCE_ID="ngModel"
                    required>                    
            <option *ngFor="let _pDataSource of P_DATA_SOURCES" [value]="_pDataSource.M_DATA_SOURCE_ID">{{_pDataSource.M_DATA_SOURCE_NAME}}</option>
            </select>
          </div>
          <!-- _VIGENCIA            -->
          <div class="form-group">
            <label for="_P_VIGENCIA"> Vigencia : </label>
            <select   class="form-control" 
                      id="_P_VIGENCIA"
                      name="_P_VIGENCIA" 
                      [(ngModel)]="td_model.P_VIGENCIA" 
                      #_P_VIGENCIA ="ngModel"
                      required>                    
            <option *ngFor="let _pVigencia of P_VIGENCIAS" [value]="_pVigencia.M_VIGENCIA_ID">{{_pVigencia.M_VIGENCIA_NAME}}</option>
            </select>
          </div>
          <!-- _CEDULA                -->
          <div class="form-group">
            <label for="_P_IDENTIFICACION"># de Cédula (ej : 40626208):</label>
            <input class="form-control" 
                    id="_P_IDENTIFICACION"
                    name="_P_IDENTIFICACION"  
                    [(ngModel)]="td_model.P_IDENTIFICACION"
                    #_P_IDENTIFICACION="ngModel"
                    type="number" 
                    required />
          </div>
          <!-- FIN    CAMPOS BUSQUEDA -->
          <hr/>
          <!-- INICIO BUTTONS PANEL        -->
          <div align="right">
            <button class="button" type="submit" [disabled]="(this.td_buttonCaption != '[Buscar]')">{{this.td_buttonCaption}}</button>
            <button class="button" type="button" (click)="td_newSearch()">[Nueva]</button>
          </div>
          <hr>
          <!-- FIN BUTTONS PANEL           -->
          <!-- INICIO MENSAJES VALIDACION  -->
          <div align="left">
            <ul *ngIf="((!this.td_valid_form()) && (this.td_formSubmit))">
              <p>Favor revise los datos del formulario</p>
              <li *ngIf="(this.td_model.P_ID_DATA_SOURCE == '0')" class="alert alert-danger">
                Favor seleccione origen de datos
              </li>
              <li *ngIf="(this.td_model.P_VIGENCIA       == '0')"       class="alert alert-danger">
                Favor ingrese vigencia
              </li>
              <li *ngIf="((this.td_model.P_IDENTIFICACION == '0') || (this.td_model.P_IDENTIFICACION == null) || (this.td_model.P_IDENTIFICACION == ''))" class="alert alert-danger">
                Favor ingrese # Cédula
              </li>
            </ul>
          </div>
          <!-- FIN    MENSAJES VALIDACION  -->
          <!-- INICIO STATUS BUSQUEDA      -->
          <div align="center">
            <label id="status" name="searchStatus" class="searchStatus" id="searchStatus">{{this.td_textStatus}}</label>
          </div>
          <!-- FIN    STATUS BUSQUEDA      -->
        </form>
      </div>
      <!-- END  SEARCHPANEL -->
      <hr>
      <!-- INIT DATAGRID -->
      <div class="scrollbar">
        <table  mat-table #td_searchResults [dataSource]="td_dataSource"  class="mat-elevation-z8" aria-label="td_informeDineroremoto">
            <ng-container matColumnDef="ID_SOLICITUD">
            <th mat-header-cell *matHeaderCellDef>ID_SOLICITUD</th>
            <td mat-cell *matCellDef="let element">{{ element.ID_SOLICITUD  }}</td>
            </ng-container>
            <ng-container matColumnDef="NOMBRE_COMPLETO">
              <th mat-header-cell *matHeaderCellDef>NOMBRE_COMPLETO</th>
              <td mat-cell *matCellDef="let element">{{ element.NOMBRE_COMPLETO }}</td>
            </ng-container> 
            <ng-container matColumnDef="FUD">
              <th mat-header-cell *matHeaderCellDef>FUD</th>
              <td mat-cell *matCellDef="let element">{{ element.FUD}}</td>
            </ng-container> 
            <ng-container matColumnDef="ESTADO_SOLICITUD">
              <th mat-header-cell *matHeaderCellDef>ESTADO_SOLICITUD</th>
              <td mat-cell *matCellDef="let element">{{ element.ESTADO_SOLICITUD}}</td>
            </ng-container> 
            <ng-container matColumnDef="RESPONSABLE_SOLICITUD">
              <th mat-header-cell *matHeaderCellDef>RESPONSABLE_SOLICITUD</th>
              <td mat-cell *matCellDef="let element">{{ element.RESPONSABLE_SOLICITUD}}</td>
            </ng-container>
            <ng-container matColumnDef="DANE_DEPARTAMENTO">
              <th mat-header-cell *matHeaderCellDef>DANE_DEPARTAMENTO</th>
              <td mat-cell *matCellDef="let element">{{ element.DANE_DEPARTAMENTO}}</td>
            </ng-container>
            <ng-container matColumnDef="DANE_MUNICIPIO">
              <th mat-header-cell *matHeaderCellDef>DANE_MUNICIPIO</th>
              <td mat-cell *matCellDef="let element">{{ element.DANE_MUNICIPIO }}</td>
            </ng-container>      
            <ng-container matColumnDef="OBSERVACION_SOLICITUD">
              <th mat-header-cell *matHeaderCellDef>OBSERVACION_SOLICITUD</th>
              <td mat-cell *matCellDef="let element">{{ element.OBSERVACION_SOLICITUD}}</td>
            </ng-container>                  
          <tr mat-header-row *matHeaderRowDef="td_displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: td_displayedColumns"></tr>
        </table>
      </div>
      <!-- END  DATAGRID -->
      <hr>
      <!-- INIT PAGINATOR -->
      <!-- END  PAGINATOR -->
    </div>
  </mat-tab>
  <mat-tab label="[CONSULTA_2 (REACTIVE)]">
    <h2>[CONSULTA_2 (REACTIVE)]</h2>
    <div class="mat-elevation-z8">   
      <!-- INIT SEARCHPANEL -->
      <div class="searchPanel">
          <form [formGroup]="_searchForm" (ngSubmit)="_onSubmit()">
            <!-- INICIO CAMPOS BUSQUEDA  -->
            <!-- P_DATA_SOURCE_ID        -->
            <div>
              <label for="_P_DATA_SOURCE_ID">Origen de Datos :</label>
              <select   id="_P_DATA_SOURCE_ID"
                        required
                        name="_P_DATA_SOURCE_ID" 
                        formControlName="_P_DATA_SOURCE_ID">                    
              <option *ngFor="let _pDataSource of P_DATA_SOURCES" [value]="_pDataSource.M_DATA_SOURCE_ID">{{_pDataSource.M_DATA_SOURCE_NAME}}</option>
              </select>
            </div>
            <!-- _VIGENCIA -->
            <div>
              <label for="_P_VIGENCIA"> Vigencia : </label>
              <select   id="_P_VIGENCIA"
                        required
                        name="_P_VIGENCIA" 
                        formControlName="_P_VIGENCIA">                    
              <option *ngFor="let _pVigencia of P_VIGENCIAS" [value]="_pVigencia.M_VIGENCIA_ID">{{_pVigencia.M_VIGENCIA_NAME}}</option>
              </select>
            </div>
            <!-- _CEDULA -->
            <div>
              <label for="_P_CEDULA"> # de Cédula (ej : 40626208) : </label>
              <input  id="_P_CEDULA" 
                      required
                      name="_P_CEDULA" 
                      type="number" 
                      [maxlength]="10"
                      formControlName="_P_CEDULA">
            </div>
            <!-- FIN    CAMPOS BUSQUEDA -->
            <!-- INICIO BUTTONS PANEL   -->
            <hr>
            <div align="right">
              <button class="button" type="submit" [disabled]="(this._buttonCaption != '[Buscar]')">{{this._buttonCaption}}</button>
              <button class="button" type="button" (click)="_newSearch()">[Nueva]</button>
            </div>
            <!-- FIN BUTTONS PANEL             -->
            <!-- INICIO MENSAJES VALIDACION    -->
            <div align="left">
              <ul *ngIf="(this._searchForm.invalid) && (this._formSubmit == true)" class="alert alert-danger">
                <p>Favor revise los datos del formulario</p>
                <li *ngIf="((this._searchForm.value['_P_DATA_SOURCE_ID'] == null) ||  (this._searchForm.value['_P_DATA_SOURCE_ID'] == '') || (this._searchForm.value['_P_DATA_SOURCE_ID'] == '0') ) && (this._formSubmit == true)">
                  El campo 'Origen de datos' es requerido.
                </li>
                <li *ngIf="(((this._searchForm.value['_P_VIGENCIA'] == null)  || (this._searchForm.value['_P_VIGENCIA'] == '') || (this._searchForm.value['_P_VIGENCIA'] == '0')) && (this._formSubmit == true) )">
                  El campo 'Vigencia' es requerido.
                </li>
                <li *ngIf="(((this._searchForm.value['_P_CEDULA'] == null)  || (this._searchForm.value['_P_CEDULA'] == '')) && (this._formSubmit == true) )">
                  El campo 'Cédula' es requerido.
                </li>        
              </ul>
            </div>
            <!-- FIN MENBSAJES VALIDACION      -->
            <hr>
            <!-- INICIO STATUS BUSQUEDA -->
            <div align="center">
              <label id="status" name="searchStatus" class="searchStatus" id="searchStatus">{{this._textStatus}}</label>
            </div>
            <!-- FIN    STATUS BUSQUEDA -->
          </form>
      </div>
      <!-- END  SEARCHPANEL -->   
      <hr>
      <!-- INIT DATAGRID -->
      <div class="scrollbar">
        <table  mat-table #_searchResults [dataSource]="_dataSource"  class="mat-elevation-z8" aria-label="_informeDineroremoto">
          <ng-container matColumnDef="ID_SOLICITUD">
            <th mat-header-cell *matHeaderCellDef>ID_SOLICITUD</th>
            <td mat-cell *matCellDef="let element">{{ element.ID_SOLICITUD  }}</td>
          </ng-container>
          <ng-container matColumnDef="NOMBRE_COMPLETO">
            <th mat-header-cell *matHeaderCellDef>NOMBRE_COMPLETO</th>
            <td mat-cell *matCellDef="let element">{{ element.NOMBRE_COMPLETO }}</td>
          </ng-container> 
          <ng-container matColumnDef="FUD">
            <th mat-header-cell *matHeaderCellDef>FUD</th>
            <td mat-cell *matCellDef="let element">{{ element.FUD}}</td>
          </ng-container> 
          <ng-container matColumnDef="ESTADO_SOLICITUD">
            <th mat-header-cell *matHeaderCellDef>ESTADO_SOLICITUD</th>
            <td mat-cell *matCellDef="let element">{{ element.ESTADO_SOLICITUD}}</td>
          </ng-container> 
          <ng-container matColumnDef="RESPONSABLE_SOLICITUD">
            <th mat-header-cell *matHeaderCellDef>RESPONSABLE_SOLICITUD</th>
            <td mat-cell *matCellDef="let element">{{ element.RESPONSABLE_SOLICITUD}}</td>
          </ng-container>
          <ng-container matColumnDef="DANE_DEPARTAMENTO">
            <th mat-header-cell *matHeaderCellDef>DANE_DEPARTAMENTO</th>
            <td mat-cell *matCellDef="let element">{{ element.DANE_DEPARTAMENTO}}</td>
          </ng-container>
          <ng-container matColumnDef="DANE_MUNICIPIO">
            <th mat-header-cell *matHeaderCellDef>DANE_MUNICIPIO</th>
            <td mat-cell *matCellDef="let element">{{ element.DANE_MUNICIPIO }}</td>
          </ng-container>      
          <ng-container matColumnDef="OBSERVACION_SOLICITUD">
            <th mat-header-cell *matHeaderCellDef>OBSERVACION_SOLICITUD</th>
            <td mat-cell *matCellDef="let element">{{ element.OBSERVACION_SOLICITUD}}</td>
          </ng-container>      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <!-- END  DATAGRID -->
      <hr>
      <!-- INIT PAGINATOR -->
      <!-- END  PAGINATOR -->
    </div>
  </mat-tab>
</mat-tab-group>



