<span class="title">
        <h2>Aplicativo {{appName}} </h2>
</span>
<hr>
<!--<loginfoview-app></loginfoview-app>-->
<!--<app-consulta-dinero-view></app-consulta-dinero-view>-->
<div class="navigation">
        <nav>
                <a routerLink="/loginfoview">{{LogInfoViewComponent_pageTitle}}</a>
                | 
                <a routerLink="/consultadineroview">{{ConsultaDineroViewComponent_pageTitle}}</a>
                | 
                <a routerLink="/consultadinerohistorico">{{ConsultaDineroHistoricoComponent_pageTitle}}</a>
        </nav>
        <router-outlet></router-outlet>
</div>
<hr>
<span class="footer">
        <h3>Aplicativo      : {{appName}} Version :{{appVersion}}</h3>
        <h3>Angular Runtime : {{runtimeVersion}}</h3>
</span>