<h1>{{title}}</h1>
<mat-tab-group>
  <mat-tab label="[CONSULTA]">
    <div class="mat-elevation-z8 demo-options">
      <hr>  
      <div class="searchPanel">
        <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
          <div class="form-group">
            <label for="P_DATA_SOURCE_ID">Origen de Datos : </label>
            <select class="form-control" id="P_DATA_SOURCE_ID"
                    required
                    [(ngModel)]="model.P_DATA_SOURCE_ID" name="P_DATA_SOURCE_ID"
                    #P_DATA_SOURCE_ID="ngModel">
              <option *ngFor="let _pDataSource of P_DATA_SOURCES" [value]="_pDataSource.M_DATA_SOURCE_ID">{{_pDataSource.M_DATA_SOURCE_NAME}}</option>
            </select>
            <div [hidden]="(P_DATA_SOURCE_ID.valid || P_DATA_SOURCE_ID.pristine)" class="alert alert-danger">
              Favor seleccione origen de datos
            </div>
          </div>
          <hr>
          <button type="submit" class="btn btn-success" [disabled]="!searchForm.form.valid">[Buscar]</button>
          <button type="button" class="btn btn-default" (click)="newSearch(); searchForm.reset();">[Nueva]</button>
        </form>
      </div>
      <hr>
      <div class="scrollbar">
          <table  mat-table  [dataSource]="dataSource"  class="mat-elevation-z8" aria-label="informelogremoto">
            <ng-container matColumnDef="ID_LOG">
              <th mat-header-cell *matHeaderCellDef>ID_LOG</th>
              <td mat-cell *matCellDef="let element">{{ element.ID_LOG    }}</td>
            </ng-container>
            <ng-container matColumnDef="DATE_TIME">
              <th mat-header-cell *matHeaderCellDef>DATE_TIME</th>
              <td mat-cell *matCellDef="let element">{{ element.DATE_TIME }}</td>
            </ng-container> 
            <ng-container matColumnDef="TEXT_1_WEB">
              <th mat-header-cell *matHeaderCellDef>TEXT_1_WEB</th>
              <td mat-cell *matCellDef="let element">{{ element.TEXT_1_WEB}}</td>
            </ng-container> 
            <ng-container matColumnDef="TEXT_2_WEB">
              <th mat-header-cell *matHeaderCellDef>TEXT_2_WEB</th>
              <td mat-cell *matCellDef="let element">{{ element.TEXT_2_WEB}}</td>
            </ng-container>  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
      </div>
      <hr>
      <mat-paginator #paginator
                    class="demo-paginator" 
                    [length]=""
                    [pageSize]="4"
                    [pageSizeOptions]="[4, 10, 25, 100]"
                    aria-label="informelogremoto"></mat-paginator>
  </div>
  </mat-tab>
  <mat-tab label="[ESTADISTICAS]">ESTADISTICAS</mat-tab>
</mat-tab-group>


