table {
    width: min-content;
    margin: 2rem;

    th {
      font-weight: bold;
      font-size: 120%;
    }
}
  
.mat-column-ID_LOG {
    flex: none;
    width: 100px;
    padding: 1rem;
  }

.mat-column-DATE_TIME {
  flex: none;
  width: 100px;
  padding: 1rem;
}

.mat-column-TEXT_1_WEB {
    flex: none;
    width: 100px;
    padding: 1rem;
  }


  .mat-column-TEXT_2_WEB {
    flex: none;
    width: 100px;
    padding: 1rem;
  }
    
  