
html, body { height: 100%; }
body {
   font-family: Arial, Helvetica, sans-serif;
}

body { 
        margin: 0; 
        font-family: Roboto, "Helvetica Neue", sans-serif; 
        font-size: x-small;
}

table {
   background-color: darkgreen;
   width: min-content;
   margin: 2em;
}
 
.scrollbar 
{
   height:300px;
   overflow-y:auto;
   background-color: cadetblue;
   font-size:x-small;
   color:aquamarine;
}

.mdc-list-item__content
{
   color:bisque;   
}

.title
{
   text-align: center;
   padding   : 1px;
}

.subtitle
{
   text-align: center;
   padding   : 1px;
}

.footer
{
   text-align: center;
   padding   : 1px;
   background-color:darkolivegreen;
}

.navigation
{
   text-align: center;
   padding   : 1px;

}

/****************************/
    /* The Modal (background) */
    .modal {
        display             : none; /* Hidden by default */
        position            : fixed; /* Stay in place */
        z-index             : 1; /* Sit on top */
        padding-top         : 100px; /* Location of the box */
        left                : 0;
        top                 : 0;
        width               : 100%; /* Full width */
        height              : 100%; /* Full height */
        overflow            : auto; /* Enable scroll if needed */
        background-color    : rgb(0, 0, 0); /* Fallback color */
        background-color    : rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        color               : #fff;
    }

    /* Modal Content */
    .modal-content {
        background-color  : #fefefe;
        margin            : auto;
        margin-top        : 200px;
        padding           : 20px;
        border            : 1px solid #888;
        width             : 50%;
        height            : 300px;
        color             : darkred;
    }

    /* The Close Button */
    .close {
        color       : #aaaaaa;
        float       : right;
        font-size   : 28px;
        font-weight : bold;
        color       : darkred;
    }

        .close:hover,
        .close:focus {
            color           : #000;
            text-decoration : none;
            cursor          : pointer;
        }

    .ui-tooltip {
        width        : auto;
        text-align   : left;
    }

    .ErrorDetail {
        text-decoration: none;
    }

    .modalTimer {
        display            : none; /* Hidden by default */
        position           : fixed; /* FIXED - Stay in place */
        z-index            : 99; /* Sit on top */
        left               : 0;
        top                : 0;
        width              : 100%; /* Full width */
        height             : 100%; /* Full height */
        overflow           : auto; /* Enable scroll if needed */
        background-color   : rgb(0, 0, 0); /* Fallback color */
        background-color   : rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    .modal-content-Timer {
        background-color  : #fefefe;
        margin            : 15% auto; /* 15% from the top and centered */
        padding           : 1em;
        border            : 1px solid #888;
        width             : 15%; /* Could be more or less, depending on screen size */
        color            : black;
    }

/****************************/