
html, body { height: 100%; }

body { 
        margin: 0; 
        font-family: Roboto, "Helvetica Neue", sans-serif; 
        font-size: x-small;
}

table {
   background-color: darkgreen;
   width: min-content;
   margin: 2em;
}
 
.scrollbar 
{
   height:300px;
   overflow-y:auto;
   background-color: cadetblue;
   font-size:x-small;
   color:aquamarine;
}

.mdc-list-item__content
{
   color:bisque;   
}

.title
{
   text-align: center;
   padding   : 1px;
}

.subtitle
{
   text-align: center;
   padding   : 1px;
}

.footer
{
   text-align: center;
   padding   : 1px;
   background-color:darkolivegreen;
}
